$white: #ffffff;
$black: #000000;
$IRONBREAKER-METAL: #a1a6ac;
$STARFLEET-BLUE:#0192ff;
$SPACE-DUST: #00249c;

$color-light-s: $white;
$color-dark-s: $IRONBREAKER-METAL;
$color-blue-s: $STARFLEET-BLUE;
$color-blue-m: $SPACE-DUST;
